#ifndef SECRETS_H /*== INCLUDE ==*/
#define SECRETS_H /*=== GUARD ===*/

/*=========================================================
  Please remeber to rename this file from "secrets.example" 
  to "secrets.h" to make it your effective "secrets.h" file
*\=========================================================

// WiFi credentials
#define SECRET_SSID // WiFi ssid
#define SECRET_PASS // WiFi password
// MQTT broker identifiers
#define SECRET_SERVER_ADDR // MQTT broker IP address
#define SECRET_SERVER_PORT // MQTT broker port

#endif
